* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    color: #262627;
    font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    font-size: 16px;
}

a {
    background: #00000000;
    color: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

strong {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    text-rendering: optimizeSpeed;
    margin: 0 0 20px;
}

p {
    margin: 0 0 20px;
}

.poll-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.container {
    margin-top: 100px;
    width: 600px;
    padding: 40px;
    background: rgba(37, 154, 59, 0.351);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
    .poll-section {
        padding: 0;
    }

    .container {
        background-color: #ffffff;
        width: 100vw;
        border-radius: 0;
    }
}

@media (max-width: 430px) {
    .container {
        padding: 20px;
    }
}

.topic {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

.participants-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #777777;
}

.participants-number {
    font-weight: bold;
    color: #264128;
}

.poll-form {
    border-radius: 20px;
    padding: 50px;
    display: grid;
    align-content: space-between;
    gap: 40px;
}

@media (max-width: 800px) {
    .poll-form {
        padding: 0;
    }
}

.question-card {
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

@media (max-width: 800px) {
    .poll-form {
        width: 100%;
    }

}

.question {
    margin-bottom: 30px;
}

@media (max-width: 650px) {
    .question {
        font-size: 17px;
    }

    .answer-option-text {
        font-size: 15px;
    }

}

.answers {
    list-style-type: none;
}

.answer-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.answer-text {
    font-size: 16px;
    color: #333333;
}

.answer-option:hover .answer-text {
    color: #4eaf8e;
}

.percentage {
    font-weight: bold;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

@media (max-width: 500px) {
    .button-container {
        flex-direction: column;
        padding: 0;
        gap: 10px;
    }
}

.survey-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.survey-button:hover {
    background-color: rgba(44, 39, 39, 0.877);
}

.red {
     color: #CD5C5C;
     font-weight: bold;
}