
.footer-section {
    background: #272928;
    height: 150px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    color: #FFFFFF;
}

@media (min-width: 1024px) {
    .footer-section {
        border-top: none;
    }
}